datasets==2.3.2
sacrebleu==2.1.0
sacremoses==0.0.53
seqeval==1.2.2
tokenizers==0.12.1
torch==1.13.1
transformers==4.24.0
tensorboard==2.8.0
huggingface-hub==0.11.1
numpy==1.22.4
pandas==1.4.2
pathlib
scikit-learn==1.0.2
scipy==1.8.1
seaborn==0.11.2
notebook>=6.4.12
tqdm==4.64.0
progressbar==2.5
sphinx-rtd-theme==1.1.1
sphinx-argparse
aim==3.16.0
evaluate==0.4.0
